<%= render "shared/header" %>

<div class="my-page-name">
  <%=  "@"+ current_user.name %> 
 </div>
 <div class="index-tittle">マイページ</div>  
<div class="my-page-main"> 
  <% @posts.each do |post| %>
      <div class="my-page-wrapper">
          <div class="my-page-images">
            <% post.images.each do |images| %>
               <div class="my-post-img">
              <%= image_tag images, class:"my_post_img"  %>
              </div>
            <% end %>
          </div>

          <ul class="my-post-list">
              <li class="my-post-list-first">ブランド：<%= post.brand.name %></li>
              <li class="my-post-list-first">選択頻度：<%= post.washing_frequency %></li>
              <li class="my-post-list-first">着用年数：<%= post.wearing_years %></li>
              <li class="my-post-list-first">イイね数：<%= post.favorites.length %></li>
              <li class="my-post-list-first">コメント数：<%= post.comments.length %></li>
              <li class="my-post-list-first">投稿コメント：<%= post.content %></li>
              <div class="my-post-list-first">
                <%= link_to "投稿を編集する", edit_post_path(post.id), class: "my-edit-btn" %>
                <%= link_to "投稿を削除する", post_path(post.id),  method: :delete, class: "my-edit-btn" %> 
              </div>
          </ul>
      </div>  
      <% post.comments.each do |comment| %>
            <li class="show_comments_list">
            <%= comment.text %><br>
             by@<%=  comment.user.name %>
            </li>
            <% end %>
  <% end %>
</div>