<%= render "shared/header" %>

<%= form_with model: @post, class: 'post-main', id: 'new_post', local: true do |f|%>
 
<div class='edit-form-wrap'>
        <div class='edit-form-header'>
          <h1 class='edit-form-header-text'>
            編集する
          </h1>
        </div>

        <div class="edit-form-group">
          <div class='post-form-text-wrap'>
            <label class="edit-form-text">ブランド</label>
            <span class="edit-indispensable">必須</span>
          </div>
          <%= f.collection_select(:brand_id, Brand.all, :id, :name, {}, {class:"edit-input-default"}) %>
        </div>
        
      <div class="edit-form-group">
        <div class='edit-form-text-wrap'>
          <label class="edit-form-text">洗濯頻度</label>
          <span class="edit-indispensable">必須</span>
        </div>
        <%= f.text_field :washing_frequency,class:"edit-input-default" %>
      </div>
    
      <div class="edit-form-group">
        <div class='edit-form-text-wrap'>
          <label class="edit-form-text">着用年数</label>
          <span class="edit-indispensable">必須</span>
        </div>
        <%= f.text_field :wearing_years, class:"edit-input-default" %>
      </div>
    
      <div class="edit-form-group">
        <div class='edit-form-text-wrap'>
          <label class="edit-form-text">コメントを記入して下さい</label>
          <span class="edit-indispensable">必須</span>
        </div>
        <%= f.text_area :content, class:"edit-text-default",  rows: 10 %>
      </div>
    
      <div class="edit-form-group">
        <div class='edit-form-text-wrap'>
          <label class="edit-form-text">写真を選択する</label>
          <span class="edit-indispensable">必須</span>
        </div>
        <div id="previews" ></div>
        <div class="click-upload">
          <%= f.file_field :images, name: 'post[images][]', data: {index: 0} %>
        </div>
      </div>
    
      <div class='edit-btn'>
        <%= f.submit "編集する", class:"edit-blue-btn"  %>
      </div>
      <div class="foot-margin"></div>
</div>
<% end %>