 <%= render "shared/header" %>
<div class="index-main"> 
  <% @posts.each do |post| %>
      <div class="index-post-wrapper">
        <div class="index-post-items">
          <div class="index-post-image">
            <%= image_tag post.images[0], class: :post__img %>
          </div>
          <div class="index-post-list">
            <div class="index-post-list-first">
              ブランド：
              <%= post.brand.name %><br>
              投稿者：
              <%=  "@" + post.user.name %> 
            </div>
            <div class="index-post-list-first">
              選択頻度：
              <%= post.washing_frequency %>
              着用年数：
              <%= post.wearing_years %>
            </div>
            <div class="index-post-list-first">
              <%= link_to '詳細を見る', post_path(post.id), class: "root-show-btn" %> 
            </div>
          </div>
        </div>
      </div>  
  <% end %>
</div>
