 <%= render "shared/header" %>

  <% if user_signed_in? %>
  <div class="login-usert">
   <%=  "@"+ current_user.name %> 
  </div>
  <% end %>
  <% if @posts.blank? then %>
  <div class="blank-index">投稿はありません</div>
  <div class="index-main"> 
   
        <div class="blank-post-wrapper">
          <div class="index-post-items">
            <div class="index-post-image">
              <%= image_tag 'index_img.jpeg', class: :blank_index_img %>
              <%= image_tag 'IMG_1312.jpeg', class: :blank_index_img %>
              <%= image_tag 'IMG_1313.jpeg', class: :blank_index_img %>
            </div>
            <ul class="index-post-list">
              <li class="blank-text">履き込んだお気に入りのデニムを<br>投稿してシェアしましょう！</li>     
            </ul>
          </div>
        </div>  
  

  </div>
  <% else %>
    <div class="index-tittle">新着投稿</div>  
    <div class="index-main"> 
      <% @posts.each do |post| %>
          <div class="index-post-wrapper">
            <div class="index-post-items">
              <div class="index-post-image">
                <% post.images.each do |images| %>
                <%= image_tag images, class: :post__img %>
                <% end %>
              </div>
              <ul class="index-post-list">
                <li class="index-post-list-first">投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></li>
                  <li class="index-post-list-first">ブランド：<%= post.brand.name %></li>
                  <li class="index-post-list-first">投稿者：<%=  "@" + post.user.name %></li>
                  <li class="index-post-list-first"> 選択頻度：<%= post.washing_frequency %></li>
                  <li class="index-post-list-first">着用年数：<%= post.wearing_years %></li>
                  <li class="index-post-list-first"><%= link_to '詳細を見る', post_path(post.id), class: "root-show-btn" %> </li>
              </ul>
            </div>
          </div>  
      <% end %>
    </div>
  <% end %>