<%= render "shared/header" %>

<% if user_signed_in? %>
<div class="login-usert">
 <%=  "@"+ current_user.name %> 
</div>
<% end %>
<div class="search-tittle">ブランド検索一覧</div>
<div class="index-main"> 
  <% @items.each do |post| %>
      <div class="index-post-wrapper">
        <div class="index-post-items">
          <div class="index-post-image">
            <% post.images.each do |images| %>
                <%= image_tag images, class: :post__img %>
                <% end %>
          </div>
          <ul class="index-post-list">
             <li class="index-post-list-first">投稿日：<%= post.created_at.strftime('%Y/%m/%d') %></li>
              <li class="index-post-list-first">ブランド：<%= post.brand.name %></li>
              <li class="index-post-list-first">投稿者： <%=  "@" + post.user.name %></li>
              <li class="index-post-list-first"> 選択頻度：<%= post.washing_frequency %></li>
              <li class="index-post-list-first">着用年数：<%= post.wearing_years %></li>
              <li class="index-post-list-first"><%= link_to '詳細を見る', post_path(post.id), class: "root-show-btn" %> </li>
          </ul>
        </div>
      </div>  
  <% end %>
  <% if @items.blank? then %>
    <div class="blank-tittle">選択したブランドの投稿はありません</div>
  <% end %>
</div>
