<%= render "shared/header" %>



<div class="post-show-wrapper">
    <div class="show-manage">
      <p class="post-show-hedding">投稿者：　@<%= @post.user.name%></p>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
        <div class="post-show-manage">
          <% if user_signed_in? && current_user.id == @post.user_id %>
          <%= link_to "投稿を編集する", root_path, class: :prototype__btn %>
          <%= link_to "投稿を削除する", root_path, class: :prototype__btn %>
          <% end %>
        </div>
    </div>    
        <div class="prototype__body">
          <div class="prototype__detail">
            <p class="detail__title">着用年数：　<%= @post.wearing_years %></p>
          </div>
          <div class="prototype__detail">
            <p class="detail__title">洗濯頻度：　<%= @post.washing_frequency %></p>
          </div>
        </div>
      <%# // プロトタイプの投稿者とログインしているユーザーが同じであれば上記を表示する %>
      <div class="prototype__image">
        <%= image_tag @post.image,  class: :prototype__image %>
      </div>
      <div class="prototype__detail">
        <p class="detail__title">@<%= @post.user.name%>さんのコメント</p>
        <p class="detail__message">
          <%= @post.content %>
        </p>
      </div>
      <div class="prototype__comments">
        <%# ログインしているユーザーには以下のコメント投稿フォームを表示する %>
          <%# <%= form_with model: モデル名,local: true do |f|%>
            <div class="field">
              <%# <%= f.label :hoge, "コメント" %><br />
              <%# <%= f.text_field :hoge, id:"comment_content" %>
            </div>
            <div class="actions">
              <%# <%= f.submit "送信する", class: :form__btn  %>
            </div>
          <%# <% end %>
        <%# // ログインしているユーザーには上記を表示する %>
        <ul class="comments_lists">
          <%# 投稿に紐づくコメントを一覧する処理を記述する %>
            <li class="comments_list">
              <%# <%= " コメントのテキスト "%>
              <%# <%= link_to "（ ユーザー名 ）", root_path, class: :comment_user %>
            </li>
          <%# // 投稿に紐づくコメントを一覧する処理を記述する %>
        </ul>
      </div>
</div>

