<%= render "shared/header" %>

<% if user_signed_in? %>
<div class="login-usert">
 <%=  "@"+ current_user.name %> 
</div>
<% end %>

<div class="post-show-wrapper">
 
    <div class="show-manage">
        <div class="post-show-hedding">投稿者：@<%= @post.user.name%></div>
        <div class="post-show-manage">
          <% if user_signed_in? && current_user.id == @post.user_id %>
          <%= link_to "投稿を編集する", edit_post_path(@post), class: :show__btn %>
          <%= link_to "投稿を削除する", post_path,  method: :delete, class: :show__btn %>
          <% end %>
        </div>
          <ul class="show-content-list">
            <li class="show-contet">投稿日：<%= @post.created_at.strftime('%Y/%m/%d') %></li>
            <li class="show-contet">ブランド：<%= @post.brand.name %></li>
            <li class="show-contet">着用年数：<%= @post.wearing_years %></li>
            <li class="show-contet">洗濯頻度：<%= @post.washing_frequency %></li>
          </ul>
    </div>   

      <div class="show-image">
        <%= image_tag @post.images[0],  class: :show__img %>
        <div class="other-images">
          <% @post.images[1..-1].each do |image| %>
            <div class="other-image">
              <%= image_tag image, class: :show__img %>
            </div>
          <%end%>
        </div>
      </div>
      <div class="show__detail">
        <div class="show__title">@<%= @post.user.name%>さんのコメント</div>
        <div class="show__detail__message">
          <%= @post.content %>
        </div>
      </div>
      <div class="post__show__comments">
        <% if user_signed_in? %>
        <div class="favorite-wrapper">
        <%= render "favorites/favorite" %>
        </div>
          <%= form_with model: [@post, @comment], local: true do |f|%>
            <div class="post-field">
              <%= f.label :text, "コメント" %>
              <%= f.text_area :text, class: :post_text_field %>
            </div>
            <div class="show__comment__actions">
              <%= f.submit "コメントを投稿する", class: :comment_form__btn  %>
            </div>
          <% end %>
        <% else %>
        <div class="login-prompt">コメント、イイね！するにはログインして下さい</div> 
        <div class="favorite-wrapper">イイね！<%= @post.favorites.length %></div>
        <% end %>
         <ul class="show_comments_lists">
            <% @post.comments.each do |comment| %>
            <li class="show_comments_list">
            <%= comment.text %><br>
             by@<%=  comment.user.name %>
            </li>
            <% end %>
         </ul>
      </div>
      <div class="foot-margin"></div>
</div>

