<%= render "shared/header" %>



<div class="post-show-wrapper">
    <div class="show-manage">
      <p class="post-show-hedding">投稿者：　@<%= @post.user.name%></p>
      <%# プロトタイプの投稿者とログインしているユーザーが同じであれば以下を表示する %>
        <div class="post-show-manage">
          <% if user_signed_in? && current_user.id == @post.user_id %>
          <%= link_to "投稿を編集する", edit_post_path(@post), class: :show__btn %>
          <%= link_to "投稿を削除する", post_path,  method: :delete, class: :show__btn %>
          <% end %>
        </div>
    </div>    
        <div class="show__body">
          <div class="show__detail">
            <p class="show__title">着用年数：　<%= @post.wearing_years %></p>
          </div>
          <div class="show__detail">
            <p class="show__title">洗濯頻度：　<%= @post.washing_frequency %></p>
          </div>
        </div>
      <div class="show__image">
        <%= image_tag @post.image,  class: :show__image %>
      </div>
      <div class="show__detail">
        <p class="show__title">@<%= @post.user.name%>さんのコメント</p>
        <p class="show__detail__message">
          <%= @post.content %>
        </p>
      </div>
      <div class="post__show__comments">
        <% if user_signed_in? %>
        <%= form_with model: [@post, @comment], local: true do |f|%>
            <div class="field">
              <%= f.label :text, "コメント" %><br />
              <%= f.text_field :text  %>
            </div>
            <div class="show__comment__actions">
              <%= f.submit "送信する", class: :form__btn  %>
            </div>
            <% end %>
       <% end %>
      <ul class="show_comments_lists">
        <% @post.comments.each do |comment| %>
            <li class="show_comments_list">
            <%= comment.text %>
            <%= link_to comment.user.name, "/users/#{comment.user_id}", class: :comment_user %>
            </li>
            <% end %>
        </ul>
      </div>
</div>

